net "PIN[0]" loc = G18;
net "PIN[1]" loc = H18;
net "PIN[2]" loc = K18;
net "PIN[3]" loc = K17;
net "PIN[4]" loc = L14;
net "PIN[5]" loc = L13;
net "PIN[6]" loc = N17;
net "PIN[7]" loc = R17;

net "POUT[0]" loc = J14;
net "POUT[1]" loc = J15;
net "POUT[2]" loc = K15;
net "POUT[3]" loc = K14;
net "POUT[4]" loc = E17;
net "POUT[5]" loc = P15;
net "POUT[6]" loc = F4;
net "POUT[7]" loc = R4;

net "reset" loc = H13;
net "clk" loc = B8;