net "PIN[0]" loc = T10;
net "PIN[1]" loc = T9;
net "PIN[2]" loc = V9;
net "PIN[3]" loc = M8;
net "PIN[4]" loc = N8;
net "PIN[5]" loc = U8;
net "PIN[6]" loc = V8;
net "PIN[7]" loc = T5;

net "POUT[0]" loc = U16;
net "POUT[1]" loc = V16;
net "POUT[2]" loc = U15;
net "POUT[3]" loc = V15;
net "POUT[4]" loc = M11;
net "POUT[5]" loc = N11;
net "POUT[6]" loc = R11;
net "POUT[7]" loc = T11;

net "reset" loc = B8;
net "clk" loc = V10;